#width::before{
    font-size: 18px;
    content: "線の太さ: ";
}

#width{
    font-size: 18px;
}

p{
    font-size: 16px;
}

.mainMenu{
    background: lightblue;
    margin-top: 18px !important;
    padding-bottom: 8px;
}

.drawMenu{
    height: 60px;
    background: #d5d4ff;
    border: 1px solid #e2e2e2;
}

.fas{
    padding: 10px;
    
}

.submitField{
    background: #ceffb1;
    
    font-weight: 900;
    color: #ffffff;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.resultField{
    font-size: 25px;
    font-weight: 700;
}