#width::before{
    font-size: 18px;
    content: "線の太さ: ";
}

#width{
    font-size: 18px;
}

@media screen and (max-width: 500px){
    .col-md-2, .col-md-6{
        width: 100% !important;
    }
    
    #mainCanvas{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


p{
    font-size: 16px;
}

#mainCanvas{
    margin-top: 25px;
    margin-bottom: 25px;
}

.mainMenu{
    margin-top: 15px !important;
    padding-bottom: 8px;
}

.drawMenu{
    height: 60px;
    background: #d5d4ff;
    border: 1px solid #e2e2e2;
}

.fas{
    padding: 10px;
    
}

.submitField{
    background: #ac92ff;
    
    font-weight: 900;
    color: #ffffff;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.resultField{
    font-size: 25px;
    font-weight: 700;
    margin-top: 13px;
}

.slider[type="range"]{
    margin-top: 8px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #c7c7c7;
    height: 2px;
}

.slider[type="range"]:focus,
.slider[type="range"]:active{
    outline: none;
}

.slider[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    border: 2px solid rgba(255,255,255,.7);
    width: 20px;
    height: 20px;
    display: block;
    background-color: #262626;
    border-radius: 50%;
}

.slider[type="range"]:active::-webkit-slider-thumb{
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .3);
    transition: 300ms;
}