html{
    overflow-y: scroll; 
}

#width::before{
    font-size: 18px;
    content: "線の太さ: ";
}

#transp::before{
    font-size: 18px;
    content: "線の不透明度: ";
}

#width, #transp{
    font-size: 18px;
}

#color-display{
    color: #ffffff;
}

@media screen and (max-width: 500px){
    .col-md-2, .col-md-6{
        width: 100% !important;
    }
    
    #mainCanvas{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


p{
    font-size: 16px;
}

#mainCanvas{
    box-shadow: 0px 0px 4px 10px #0000001f;
    margin-top: 25px;
    margin-bottom: 25px;
}

.mainMenu{
    margin-top: 15px !important;
    font-size: 18px ;
    padding-bottom: 8px;
}

.drawMenu{
    height: 60px;
    background: #d5d4ff;
    border: 1px solid #e2e2e2;
}

.fas{
    padding: 10px;
    
}

.submitField{
    background: #ac92ff;
    
    font-weight: 900;
    color: #ffffff;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.resultField{
    font-size: 25px;
    font-weight: 700;
    margin-top: 13px;
}

.slider[type="range"]{
    margin-top: 8px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #c7c7c7;
    height: 2px;
}

.slider[type="range"]:focus,
.slider[type="range"]:active{
    outline: none;
}

.slider[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    border: 2px solid rgba(255,255,255,.7);
    width: 20px;
    height: 20px;
    display: block;
    background-color: #262626;
    border-radius: 50%;
}

.slider[type="range"]:active::-webkit-slider-thumb{
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .3);
    transition: 300ms;
}

#palette-content.Close{
    height: 0px;
    overflow: hidden;
    transition: height .5s ease-out;
}
#tool-content.Close{
    height: 0px;
    overflow: hidden;
    transition: height .5s ease-out;
}

#palette-content.Expand{
    height: 460px;
    overflow: hidden;
    transition: height .5s ease-out;
}

#tool-content.Expand{
    height: 200px;
    overflow: hidden;
    transition: height .5s ease-out;
}

@media screen and (max-width:991px){
    #tool-content.Expand{
        height: 310px;
        overflow: hidden;
        transition: height .5s ease-out;
    }
}

.hue[type="range"]{
    -webkit-appearance: none;
    appearance: none;

    padding-top: -8px;
    height: 20px;
    background: #ff3333; /* Old browsers */
    background: -moz-linear-gradient(left, #ff3333 0%, #ffff01 16%, #01ff01 34%, #01ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0105 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff3333 0%,#ffff01 16%,#01ff01 34%,#01ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0105 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff3333 0%,#ffff01 16%,#01ff01 34%,#01ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0105 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.color-pick{
    font-size: 26px;
}